@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(248, 222, 138);
}

header {
    background-color: rgb(248, 199, 39);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burguer {
    background-color: rgb(247, 140, 18);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: rgb(238, 176, 43);
    color: rgb(77, 6, 6);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(90, 44, 7);
    color: white;
    border-top: 2px solid rgb(238, 204, 132);
}

menu > ul > li > a:hover {
    background-color: rgb(128, 65, 6);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}